@import 'mixins';

header {
  @include header-and-footer;
  margin-bottom: 1rem;
  font-size: 1.5rem;

  button {
    padding: 0;
    margin: 0;
    width: 30px;
    border: none;

    &:after, 
    &:before, 
    & div {
      background-color: #fff;
      border-radius: 3px;
      content: '';
      display: block;
      height: 4px;
      margin: 5px 0;
      transition: all .2s ease-in-out;
    }
    
    &.active:before {
      transform: translateY(12px) rotate(135deg);
    }

    &.active:after {
      transform: translateY(-12px) rotate(-135deg);
    }

    &.active div {
      transform: scale(0);
    }
  }
}
